/* work sans font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.text-light-gray {
  color: #727272;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  font-size: 1.25rem;
  padding: 20px 25px;
  color: #fff;
  cursor: progress;
  border: 0;
}
.section-title {
  font-size: 2.8rem;
  color: #131313;
  font-weight: 700;
}

/* header styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* banner styles */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}

.banner img {
  margin-top: 20px;
  width: 100%;
}

/* main styles */
main {
  max-width: 1440px;
  margin: 70px auto;
}
/* teams styles */
.teams-container {
  display: flex;
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content {
  padding-left: 70px;
  padding-right: 70px;
}
.teams-title {
  font-size: 2.8rem;
}
.teams-title .quick-list {
  /* color:#727272; */
  font-weight: 500;
}
.teams-title .text-features {
  color: #ff900e;
  font-weight: 700;
}
/* facts section */
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 40px 30px;
}
.facts-card-container .card-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 5px;
}
.facts-card-container .card-stats {
  font-size: 2.8rem;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* sponspors styles */
.sponspors{
  text-align: center;
}
.sponspors-img-container{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.sponspors-img-container img{
  width: 165px;
}

/* responsive styles */
/* mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-container, .facts-card-container,.sponspors-img-container {
    flex-direction: column;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .teams-content,.facts-card-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .facts-card-container{
    gap: 20px;
  }
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav,
  .teams-container,.sponspors-img-container {
    flex-direction: column;
  }
}
